body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; }

h1,h2 { margin: auto; width: 90%; }

ul { margin: auto; width: 90%; padding: 1em;  }

p { margin: auto; width: 90%; padding: 1em 0 1em 0; }

.screenshot { max-width: 50%; height: auto; display: block; margin: auto; padding: 1em; }