body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; }

h1,h2 { margin: auto; width: 80%; }

ul { margin: auto; width: 80%; padding: 1em;  }

p { margin: auto; width: 80%; padding: 1em 0 1em 0; }

.screenshot { max-width: 40%; height: auto; display: block; margin: 25px auto 25px auto; padding: 2px; border: 3px solid; }

.screenshot:hover {
  transform: scale(2.5);
}